body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.square {
    border: 1px solid black;
    box-sizing: border-box;
}

.grid {
    margin-top: 100px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.hover {
    background-color: black;
}

button {
    margin-top: 100px;
}
